{% extends 'hoteles/baseHotel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenido %}

            <div class="container bigCard">
                <div class="row">
                    <div class="col"><h2>{{ hotel.nombre }} </h2></div>
                </div>
                <div class="row">
                    <div class="col">
                        <img width='320px' height='213px' src="{{ hotel.imagen }}">
                    </div>
                    <div class="col">
                     <div class="col">{{ hotel.direccion }}</div>
                     <div class="col">{{ hotel.ciudad }}</div>
                     <div class="col">{{ hotel.provincia }}</div>
                     <div class="col">Precio: {{ hotel.precio }} €</div>
                     <div class="col">Puntuación: {{ hotel.valoracion }}/10</div>
                     <div class="row">
                            <ul>
                            {% for ventaja in hotel.ventajas %}
                               <li class='extra'>{{ ventaja.nombre }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        <a href="{{ path('listaHoteles') }}" class="btn btn-primary dark">VOLVER</a>
                    </div>
                </div>
            </div>
            

{% endblock %}